<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>814652321959-bbmab5fn9ddobsei146mjqnssujrqouh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.814652321959-bbmab5fn9ddobsei146mjqnssujrqouh</string>
	<key>API_KEY</key>
	<string>AIzaSyB02k3ilAIb8tA9oeZ3chLpvzxF2AUORfg</string>
	<key>GCM_SENDER_ID</key>
	<string>814652321959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wevent</string>
	<key>PROJECT_ID</key>
	<string>jon-jon-go</string>
	<key>STORAGE_BUCKET</key>
	<string>jon-jon-go.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:814652321959:ios:028c167ed58875a552ab82</string>
</dict>
</plist>